</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Family Tree</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://unpkg.com/d3-graphviz@5.0.2/build/d3-graphviz.min.js"></script>
  <style>
    body { margin: 0; overflow: hidden; }
    #graph { width: 100vw; height: 100vh; }
  </style>
</head>
<body>
<div id="graph"></div>
<script>
  const relations = {{ relations|tojson }};
  const images = {{ images|tojson }};

  let dot = `
    digraph FamilyTree {
      rankdir=TB;
      node [shape=none, fontsize=14];
  `;

  const nodes = new Set();
  relations.forEach(([p, c]) => { nodes.add(p); nodes.add(c); });

  nodes.forEach(node => {
    if (images[node]) {
      const uri = images[node];
      dot += `"${node}" [image='http://127.0.0.1:5000/static/cat.png'];
      `;
    } else {
      dot += `"${node}" [label="${node}", shape=box, style=rounded];\n`;
    }
  });

  relations.forEach(([p, c]) => { dot += `"${p}" -> "${c}";\n`; });
  dot += "}";
  
  console.log(dot);

  d3.select("#graph").graphviz().zoom(true).fit(true).renderDot(dot);
</script>
</body>
</html>
