<!DOCTYPE html>
<html>
<head>
  <title>Graph Visualizer</title>
  <script src="https://unpkg.com/cytoscape@3.19.0/dist/cytoscape.min.js"></script>
  <style>
    #cy {
      width: 100%;
      height: 600px;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <h2>Graph Visualizer</h2>
  <div id="cy"></div>

  <script>
    fetch('/graph')
      .then(res => res.json())
      .then(graph => {
        cytoscape({
          container: document.getElementById('cy'),
          elements: [...graph.nodes, ...graph.edges],
          style: [
            {
              selector: 'node',
              style: {
                'background-color': '#0074D9',
                'label': 'data(id)'
              }
            },
            {
              selector: 'edge',
              style: {
                'width': 2,
                'line-color': '#ccc',
                'target-arrow-color': '#ccc',
                'target-arrow-shape': 'triangle'
              }
            }
          ],
          layout: {
            name: 'cose'
          }
        });
      });
  </script>
</body>
</html>
