
<!DOCTYPE html>
<html>
<head>
  <title>Zeng Family</title>
  <script src="https://unpkg.com/cytoscape@3.19.0/dist/cytoscape.min.js"></script>
  <style>
    #cy {
      width: 100%;
      height: 900px;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <div id="cy"></div>


<script>
  var nodes = `[{"data": {"id": "A", "label": "Node A", "image": "/static/cat.png"}}, {"data": {"id": "A2", "label": "Node A2", "image": "/static/dog.png"}}, {"data": {"id": "B", "label": "Node B"}}, {"data": {"id": "B", "label": "Node B"}}, {"data": {"id": "C", "label": "Node C"}}, {"data": {"id": "C", "label": "Node C"}}]`;
  var nodes = JSON.parse(nodes);
  console.log(nodes);
  var edges = `[{"data": {"source": "A2", "target": "B"}}, {"data": {"source": "A", "target": "A2"}}, {"data": {"source": "B", "target": "C"}}, {"data": {"source": "B", "target": "C"}}, {"data": {"source": "A", "target": "B"}}]`;
  var edges = JSON.parse(edges);
  console.log(edges);
  cytoscape({
  container: document.getElementById('cy'),
  elements: [...nodes, ...edges],
  style: [
      {
      selector: 'node',
      style: {
          'background-color': '#0074D9',
          'background-fit': 'cover',
          'background-image': 'data(image)',     // Will use image if available
          'label': 'data(label)',                // Will show label if image not there
          'color': '#fff',
          'text-valign': 'bottom',
          'text-halign': 'center',
          'text-outline-color': '#000',
          'text-outline-width': 2,
          'width': 60,
          'height': 60
      }
      },
      {
      selector: 'edge',
      style: {
          'width': 2,
          'line-color': '#ccc',
          'target-arrow-color': '#ccc',
          'target-arrow-shape': 'triangle'
      }
      }
  ],
  layout: {
      name: 'breadthfirst',     // hierarchical layout
      directed: true,
      padding: 20,
      spacingFactor: 1.5,
  }
  });
</script>

</body>
</html>
